.upload-img-wrapper {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: #eff2ff;
  padding: 5px;
  border-radius: 8px;
  overflow: hidden;
}

.drag-area::after {
  content: "Drag & Drop your file here";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  top: 0;
  -webkit-backdrop-filter: contrast(0.5) blur(1.5px);
  backdrop-filter: contrast(0.5) blur(1.5px);
  flex-direction: column;
  align-items: center;
  /* border: 4px dashed; */
  /* color: #191b2f; */
  font-size: 28px;
  color: white;
  font-weight: 700;
  font-family: "Futura PT";
  z-index: 10;
}

.upload-img-wrapper .upload-img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  border: 2px dashed #3758f9;
  border-radius: 8px;
}

.upload-img-wrapper .upload-img .img-preview-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.upload-img-wrapper .upload-img .img-preview-wrapper .cancel-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
  -webkit-backdrop-filter: contrast(0.5) blur(1.5px);
  backdrop-filter: contrast(0.5) blur(1.5px);
  min-width: 0;
}

.upload-img-wrapper .upload-img .img-preview-wrapper video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
}
