@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

.simple-table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  /* background: linear-gradient(180deg, #fdfdff 0%, #f3f6ff 100%);
  box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.08); */
  font-family: "Inter", sans-serif;
  display: block;
}

.simple-table thead {
  text-align: left;
  height: 50px;
  max-height: 50px;
  background-color: #3758f9;
  color: white;
  display: block;
}

.simple-table thead > tr {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.simple-table thead > tr > th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #3758f9;
  color: white;
  font-family: "Inter";
}

.simple-table thead > tr > th:first-child {
  padding: 0 0 0 20px;
}

.simple-table tbody {
  display: block;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.simple-table tbody > tr {
  display: table;
  table-layout: fixed;
  width: 100%; /* keep columns aligned */
}

.simple-table tbody > tr > td:first-child {
  padding: 0 0 0 20px;
}
.simple-table tbody > tr > td {
  font-family: "Inter";
}

.simple-table tbody .img-wrapper {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 8px;
}
