.workout-wrapper {
  height: 100%;
}

.workout-wrapper .workout-head {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
}

.workout-wrapper .recent-workout {
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  /* background: linear-gradient(180deg, #fdfdff 0%, #f3f6ff 100%);
  box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.08); */
  height: 44dvh;
}

.workout-wrapper .table-wrapper {
  width: 100%;
  height: 100%;
  /* border: 1px solid #18181826; */
  overflow: auto;
  border-radius: 8px;
  overflow: auto;
  background: linear-gradient(180deg, #fdfdff 0%, #f3f6ff 100%);
  box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.08);
}

/* Hide scrollbar normally */
.workout-wrapper .table-wrapper::-webkit-scrollbar {
  width: 8px;
  height: 0; /* for horizontal */
  background-color: transparent;
}

/* On hover, show scrollbar */
.workout-wrapper .table-wrapper:hover::-webkit-scrollbar {
  width: 8px; /* your desired size */
  /* height: 5px; */
}

/* Scrollbar track */
.workout-wrapper .table-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
.workout-wrapper.table-wrapper::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.workout-wrapper .table-wrapper:hover::-webkit-scrollbar-thumb {
  background: #18181826;
}

.workout-wrapper .workout-head-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-wrapper .workout-head-wrapper .button-wrapper .create-workout {
  background-color: #3758f9;
  border-radius: 8px;
  color: white;
  display: flex;
  gap: 4px;
  padding: 11px 14px;
}
